html, body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;

}




.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;

}

#intro{
    animation: fadeInRight 5s;
}

#divider-box-about-me{
    background-color: gray;
}

#divider-box-contact-me{
    background-color: gray;
}

.about-me-container {
    display: flex;
    flex-direction: row; /* Align children horizontally */
    justify-content: start; /* Align children to the start of the container */
    align-items: center; /* Center children vertically */
    height: 100vh;
    color: white;
    padding-left: 10%; /* Adjust as needed for spacing from the left edge */
}

.about-me-accordion{
    padding: 10px;
}

.about-me-content { /* New class for the content you want on the left */
    flex-basis: 50%; /* Takes up half of the flex container's space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically in this div */
    height: 100%; /* Full height of the parent */
    padding-right: 5%; /* Adjust as needed for spacing between content and accordion */
}

/* Add this new class to your HTML structure for the about-me content */

.about-me-accordion { /* New class for the accordion you want on the right */
    flex-basis: 50%; /* Takes up the remaining half of the flex container's space */
    /* Any additional styling for the accordion */
}


.about-me-container > p{
    justify-content: center;
}


.contact-me-container{
    color: white;


    height: 100vh;
}


.contact-cards{
    display: flex;
    align-content: center;
    color: black;
}

.navbar {
    width: 100%;
    position: sticky; /* Keeps the navbar at the top when scrolling */
    top: 0;
    z-index: 20; /* Ensures the navbar stays above other content */
    margin: 0;
    padding: 0;
    background-color: white; /* Set a background color to see the fade effect */
    opacity: 0.2; /* Start semi-transparent, adjust as needed */
    transition: opacity 1s ease; /* Smooth transition for opacity changes */
}

.navbar:hover {
    opacity: 1; /* Fully visible on hover */
}

.container-fluid{
    display:flex;
    /*background-color: #2284ff;*/
    background-color: white;
    color: black;
    width: 100%;
}

.navbar-light .navbar-nav .nav-link {
    color: black; /* Replace with your preferred color */
}


@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 100;
        transform: translateX(0%);

    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;

    }
}
